<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <link rel="stylesheet" href="/css/style.css">

<head>
    <title>Formulário de Laboratório</title>
</head>

<body>
    <h1 th:text="${laboratorio.id != null} ? 'Editar Laboratorio' : 'Novo Laboratorio'">Formulário de Laboratório</h1>
    <form th:action="@{/laboratorios}" th:object="${laboratorio}" method="post">
        <input type="hidden" th:if="${laboratorio.id !=null}" th:field="*{id}" />
        <div class="form-group">

            <label for="nome">Nome do Laboratório:</label>
            <input type="text" id="nome" th:field="*{nome}" required>
        </div>
        <div class="form-group">

            <label for="localizacao">Localização:</label>
            <input type="text" id="localizacao" th:field="*{localizacao}" required>
        </div>
        <div class="form-group">

            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" th:field="*{telefone}" required>
        </div>
        <div class="form-group">

            <label for="cidade">Cidade:</label>
            <input type="text" id="cidade" th:field="*{cidade}" required>
        </div>

        <button type="submit" th:text="${laboratorio.id !=null} ? 'Atualizar' : 'Salvar'">Salvar</button>
    </form>
    <a href="home.html">Voltar</a>
</body>

</html>