<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <link rel="stylesheet" href="css/style.css">
<head>
    <title>Página Inicial</title>
</head>

<body>
    <h1>Bem-vindo ao Modelo Entidade-Relacionamento individual</h1>
    <h2>Sistema Exemplo de Relacionamento entre Entidades: Como marcar um exame?</h2>
    <h3>Entidades: Laboratório - Exame - Paciente</h3>
    <ul>
        <li><a href="/pacientes">Listar pacientes</a></li>
        <li><a href="/pacientes/novo">Cadastrar pacientes</a></li>
        <li><a href="/laboratorios">Listar laboratórios</a></li>
        <li><a href="/laboratorios/novo">Cadastrar laboratórios</a></li>
        <li><a href="/exames">Listar exames</a></li>
        <li><a href="/exames/novo">Cadastrar exames</a></li>
    </ul>
</body>

</html>