<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Página Inicial</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Bem-vindo ao Modelo Entidade-Relacionamento individual</h1>
    <h2>Sistema Exemplo de Relacionamento entre Entidades: Como marcar um exame?</h2>
    <h3>Entidades: Laboratório - Exame - Paciente</h3>
    <ul>
        <li><a href="lista_paciente.html">Listar pacientes</a></li>
        <li><a href="form_paciente.html">Cadastrar pacientes</a></li>
        <li><a href="lista_laboratorio.html">Listar laboratórios</a></li>
        <li><a href="form_laboratorio.html">Cadastrar laboratórios</a></li>
        <li><a href="lista_exame.html">Listar exames</a></li>
        <li><a href="form_exame.html">Cadastrar exames</a></li>
    </ul>
</body>

</html>