<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Exames</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Lista de Exames</h1>

    <a href="/exames/novo">Novo Exame</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Horário</th>
                <th>Sala</th>
                <th>Motivo</th>
                <th>Laboratório</th>
                <th>Paciente</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="exame : ${exame}">
                <td th:text="${exame.id}">id</td>
                <td th:text="${exame.data}">Data</td>
                <td th:text="${exame.horario}">Horário</td>
                <td th:text="${exame.local}">Sala</td>
                <td th:text="${exame.motivo}">Motivo</td>
                <td th:text="${exame.laboratorio.name}">Laboratório</td>
                <td th:text="${exame.paciente.name}">Paciente</td>
                <td>
                    <a th:href="@{|/exames/${exame.id}/editar|}">Editar</a>
                    <a th:href="@{|/exames/${exame.id}/deletar|}">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="/">Home</a>
</body>

</html>